.DS_Store
*.pyc

# The assets directory is created by the build script.
# Assets are versioned separately.
assets

# Content images are computed from the assets.
content/photos/image/*.jpg
content/photos/image/*.png

# Ignore the public folder on master.
public
