.DS_Store
*.pyc

# The assets directory is created by the build script.
# Assets are versioned separately.
assets

# Content images are computed from the assets.
content/photo/image/*.jpg
content/photo/image/*.png

# Ignore the public folder on master.
public
