<!doctype html>
<html lang="en-US">
<head>
		<base href="{{ .URL }}"> <!-- This is a fix for lack of trailing slash. -->
    <meta charset="utf-8">
		<!-- <meta name="viewport" content="width=480"> -->
		<link rel="stylesheet" type="text/css" href="/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src='/js/lib.js' charset='utf-8'></script>
    <script src='/js/d3.min.js' charset='utf-8'></script>
    <title>{{ .Title }}</title>
</head>
<body lang="en">
