/* bad, because no namespacing */
#the-artists-of-magic svg text {
	fill: #fff;
	text-shadow: 0 1px 1px #000;
}
#the-artists-of-magic svg text.name{
	font: 14px/1.0 "Concourse T6";
	fill: #F6F2FF;
}
#the-artists-of-magic svg text.num {
	font: 14px/1.0 "Concourse T4";
	fill: #DED4F7;
	/*font-style: italic;*/
}
#the-artists-of-magic  svg text.num.active  {
	fill: #DED4F7;
}

#the-artists-of-magic svg text.num.active tspan  {
	fill: #F6F2FF;
}
