{{ partial "page_header" . }}
{{ partial "header" "photos" }}
<!-- {{ printf "%#v" . }} -->

<main class="photos">
	<div class="inner">
		<blockquote>
			&ldquo;Your first 10,000 photographs are your worst.&rdquo;
			<cite>&mdash; Henri Cartier-Bresson</cite>
		</blockquote>

		{{ $count := (len .Data.Pages) }}
		{{ range $page := .Data.Pages }}
			{{ $name := .File.BaseFileName }}
			<article>
				<div class="meta">
					<span>Photo No. {{ .Params.seq }}</span>
					<time>{{ .Date.Format "January 2006" }}</time>
				</div>
				<h1>{{ .Title }}</h1>
				<figure>
					<img src="image/{{ $name }}.jpg" srcset="image/{{ $name }}.jpg 1000w, image/{{ $name }}@2x.jpg 2000w"  />
				</figure>
			</article>
		{{ end }}
	</div>
</main>

{{ partial "page_footer" . }}
