{{ partial "page_header" . }}
{{ partial "header" "scribbles" }}
<main class="scribbles">
	<div class="inner">
		{{ range $page := .Data.Pages }}
			{{ $name := .File.BaseFileName }}
			<article id="{{ $name }}" class='scribble'>
				{{ if .Params.style }}<link rel="stylesheet" type="text/css" href="/scribbles/{{ $name }}/style.css">{{ end }}
				<div class="meta">
					<span>Scribble No. {{ .Params.seq }}</span>
					<time>{{ .Date.Format "January 2006" }}</time>
				</div>
				<h1><a href='{{ .Permalink }}'>{{ .Title }}</a></h1>
				{{ .Content }}
				{{ if .Params.script }}<script src="/scribbles/{{ $name }}/script.js" charset="utf-8"></script>{{ end }}
			</article>
		{{ end }}
	</div>
</main>
{{ partial "page_footer" . }}
