{{ partial "page_header" . }}
{{ partial "header" "scribbles" }}
<main class="scribbles">
	<div class="inner">
		<!-- <blockquote>
			&ldquo;Some people have a way with words, and other people...oh, uh, not have way.&rdquo;
			<cite>&mdash; Steve Martin</cite>
		</blockquote>
		 -->
		{{ $count := (len .Data.Pages) }}
		{{ range $index, $page := .Data.Pages }}
			<article class='scribble'>
				<div class="meta">
					<span>Scribble No. {{ sub $count $index }}</span>
					<time>{{ .Date.Format "January 2006" }}</time>
				</div>
				 {{ .Content }}
			</article>
		{{ end }}
	</div>
</main>
{{ partial "page_footer" . }}
