/* TODO: Figure out css reuse. These text styles also appear in the magic vis. */

#the-types-of-magic .mana-legend {
	width: 22px;
	border:	none;
	display: inline;
}

#the-types-of-magic .mana-mini {
	width: 16px;
	border:	none;
	display: inline;
}

#the-types-of-magic text {
		text-shadow: 0 1px 1px #000;
}

#the-types-of-magic svg text.type {
	font: 14px/1.0 "Concourse C6";
	fill: #F6F2FF;
}

#the-types-of-magic svg text.description {
	font: 14px/1.0 "Concourse T4";
	fill: #DED4F7;
}

#the-types-of-magic svg text.set-name {
	font: 14px/1.0 "Concourse T4";
	fill: #F6F2FF;
}

#the-types-of-magic svg text.time-start,
#the-types-of-magic svg text.time-end {
	font: 13px/1.0 "Concourse T4";
	fill: #DED4F7;
}

#the-types-of-magic svg .axis-line {
	stroke: #DED4F7;
	stroke-dasharray: 1,5;
}
